h2, h3 {
    color: white;
}
h4 {
    color: #e95420;
}

.textDeco {
    text-decoration: none;
}

.navDrop {
    font-size: 25px;
    color: #e9ecef;
    font-weight: 600;
}
.nav-link{
    color: white
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: white;
}

.nav-link:focus, .nav-link:hover {
    color: white;
}